@use '../abstracts' as a;


.container{

    /*margin: 0 auto;
    width: a.$pageContainerWidth;
    max-width: 100%;*/
    @include a.containerWidth;
    padding: 3em 0;
    @include a.at768{
        padding: 5em 0;
    }

}