@use '../abstracts/' as a;

.hero-section {
    display: grid;
    background: #414141;
    position: relative;
    overflow: hidden;
    min-height: 55svh;

    @include a.at992 {
        grid-template-columns: 2fr 1.5fr;
        min-height: 60svh;
    }

    .hero-img {
        filter: grayscale(1);
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        opacity: .4;
        transition: filter .6s;

        @include a.at992 {
            opacity: 1;
            grid-column: 2 / -1;
        }

        &.hovered {
            filter: none
        }
    }

    .hero-cta {
        height: 100%;
        width: 100%;
        display: grid;
        place-content: center;
        box-shadow: 0 0 31px 34px #0000005c inset, 0px 0px 65px 51px #252525 inset, 0px 0px 127px 173px #252525 inset;

        .hero-box {
            color: #fff;
            padding: 2em;
            width: auto;
            margin: 3.75em 1em;
            background: rgba(0, 0, 0, .831372549);
            border-radius: 15px;
            z-index: 2;

            @include a.at992 {
                padding: 3em 2em;
                margin: 3.75em 5em;
            }

            @include a.at1440 {
                padding: 4em 3em;
            }

            h1 {
                font-size: var(--fs-xl);
                line-height: 1.1;
            }
    
            p {
                margin-block: 1.75em;
                line-height: 1.8;
                max-width: 60ch;

                @include a.at768 {
                    margin-block: 2.25em;
                }

            }

                
            .browse-btn {
                display: inline-flex;
                
                a {
                    background: var(--brand-colour);
                    font-family: 'Roboto', sans-serif;
                    padding: .75em 1.5em;
                    color: #fff;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 10px;
                    font-size: var(--fs-medium);
                    outline: 2px solid white;
                    outline-color: transparent;
                    transition: background .4s, outline-color .5s, outline-offset .25s, text-decoration-color .3s, text-underline-offset .5s;

                    &:hover, &:focus-visible {
                        background: var(--brand-colour-dark);
                        outline-color: #fff;
                        outline-offset: 4px;
                    }
                }
            }
        }

    }

    .hero-inner {
        display: grid;
        background: #181818;
        border-radius: 15px;
        align-items: center;
        max-width: 1175px;
        padding: 0;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: #000000;
        }

        @include a.at768 {
            grid-template-columns: 1fr min(45%, 522px);
            grid-template-columns: 1fr min(60%, 522px);
            &::before {
                background: transparent;
            }
            
        }
        .hero-img {

            height: 100%;
            grid-column: 1 / -1;
            position: absolute;
            opacity: .1;
            right: 0;

            @include a.at768 {
                grid-column: auto;
                position: relative;
                opacity: 1;
                right: auto;
            }
        }

    }

}