@use '../abstracts' as a;

.mobile-menu {

    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;
    grid-column: 1 / -1;
    pointer-events: none;
    transition: grid-template-rows .5s, visibility .5s;

    > div {
        overflow: hidden;
    }

    @include a.at992 {
        display: none;
    }

    &.open {
        grid-template-rows: 1fr;
        visibility: visible;
        pointer-events: auto;
    }
    
    ul {
        padding: 0;

        li {
            border-bottom: 1px solid #fff;
            color: #fff;

             a {
                padding: 1em 0;
                display: block;
                margin-left: 5px;
            }

            &.nav-cart {
                display: flex;
                align-items: center;

                i{
                    margin: 0 10px 2px 5px;
                }
                a{
                    flex: 1;
                }

            }

            &.login-link {

                a {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    svg {
                        height: 50px;
                        width: 50px;
                        filter: invert(1);
                        margin-top: .5em;
                    }
                }
            }
        }
    }
}

.nav-menu-burger {
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 50px;

    &:hover {
        background: transparent;
    }

    @include a.at992 {
        display: none;
    }

    span {
        height: 3px;
        width: 100%;
        transition: opacity 0s, height .3s cubic-bezier(0.37, 0.01, 0, 0.98), translate .3s cubic-bezier(0.37, 0.01, 0, 0.98), rotate .3s cubic-bezier(0.37, 0.01, 0, 0.98);

        &.top-line, &.bottom-line {
            display: flex;
        }

        &.top-line-left, &.bottom-line-left {
            transform-origin: right;
        }

        &.top-line-right, &.bottom-line-right {
            transform-origin: left;
        }
    }

    .menu-line {
        background: #fff;
    }

    &.open {

        .top-line-left {
            rotate: 45deg;
            translate: 0px 10px;
        }
        .top-line-right {
            rotate: -45deg;
            translate: 0px 10px;
        }
        .bottom-line-left {
            rotate: -45deg;
            translate: 0px -9px;
        }
        .bottom-line-right {
            rotate: 45deg;
            translate: 0px -9px;
        }
        .middle-line {
            height: 0;
            opacity: 0;
        }

    }

 }
